<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
     <!-- <script src="https://cdn.tailwindcss.com"></script> -->

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/src/output.css">
</head>
<body>
    <div class="min-h-screen relative md:flex bg-slate-100">

        <!-- mobile menu bar -->
         <div class="bg-one text-slate-800 flex justify-between md:hidden">
            <!-- logo -->
            <a href="" class="block p-4 text-black font-bold">Bintang Timur Prestasi</a>
            <!-- mobile menu button -->
             <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-200 hover:bg-orange-50 transition duration-300">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                  </svg>
                  
             </button>
         </div>

        <!-- sidebar -->
        <div class="sidebar bg-one text-two w-64 space-y-6 py-5 absolute inset-y-0 left-0 -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
            <!-- logo -->
            <a href="#" class="flex items-center py-6 px-3">
                <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-lg font-bold">Bintang Timur Prestasi</span>
            </a>
            <nav>
                    <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-three">
                      <i class="bi bi-house-door-fill"></i>
                      <span class="text-[15px] ml-4 text-two">Dashboard</span>
                    </div>
                    <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-three">
                      <i class="bi bi-bookmark-fill"></i>
                      <span class="text-[15px] ml-4 text-gray-800">User</span>
                    </div>
            
                    <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer ">
                      <i class="bi bi-chat-left-text-fill"></i>
                      <div class="flex justify-between w-full items-center" onclick="dropDown()">
                        <span class="text-[15px] ml-4 text-gray-800">Create Soal</span>
                        <span class="text-sm rotate-180" id="arrow">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                      </div>
                    </div>
                    <div class=" leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto" id="submenu">
                      <h1 class="cursor-pointer p-2 hover:bg-three rounded-md mt-1">Huruf</h1>
                      <h1 class="cursor-pointer p-2 hover:bg-three rounded-md mt-1">Angka</h1>
                      <h1 class="cursor-pointer p-2 hover:bg-three rounded-md mt-1">Simbol</h1>
                      <h1 class="cursor-pointer p-2 hover:bg-three rounded-md mt-1">Huruf Angka</h1>
                      <h1 class="cursor-pointer p-2 hover:bg-three rounded-md mt-1">Angka Simbol</h1>
                      <h1 class="cursor-pointer p-2 hover:bg-three rounded-md mt-1">Huruf Simbol</h1>
                    </div>
                    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-three">
                      <i class="bi bi-box-arrow-in-right"></i>
                      <span class="text-[15px] ml-4 text-two">Logout</span>
                    </div>
            </nav>
        </div>
    
    
        <!-- content -->
        <div class="flex-1 items-center p-3 text-xl bg-slate-100" >

          <h1 class="bg-orange-200 p-3 mb-4 rounded-md text-center shadow-lg">
            Waktu : 00:01:00
          </h1>
          <div>
            <h1 class="mb-4 mt-8 font-semibold text-two bg-orange-200 text-center w-[128px] rounded-lg shadow-md px-4 py-2 mx-auto">Kolom 1</h1>
              <div class="flex justify-center">
                <table>
                  <thead>
                    <tr>
                      <th class="px-2 text-5xl lg:text-8xl lg:px-4">R</th>
                      <th class="px-2 text-5xl lg:text-8xl lg:px-4">$</th>
                      <th class="px-2 text-5xl lg:text-8xl lg:px-4">6</th>
                      <th class="px-2 text-5xl lg:text-8xl lg:px-4">H</th>
                      <th class="px-2 text-5xl lg:text-8xl lg:px-4">0</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr>
                      <td class="py-2 px-3 font-thin text-2xl lg:text-4xl lg:px-7">A</td>
                      <td class="py-2 px-3 font-thin text-2xl lg:text-4xl lg:px-7">B</td>
                      <td class="py-2 px-3 font-thin text-2xl lg:text-4xl lg:px-7">C</td>
                      <td class="py-2 px-3 font-thin text-2xl lg:text-4xl lg:px-7">D</td>
                      <td class="py-2 px-3 font-thin text-2xl lg:text-4xl lg:px-7">E</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              <hr class="border-black border-1 shadow-lg opacity-20 mt-12">
      <div class="text-start">
      <h1 class="mt-12 font-bold text-two bg-three px-6 py-2 rounded-lg shadow-md w-[100px] text-center">Soal</h1>
      <table>
        <thead>
            <tr>
                <th class="text-3xl py-3 px-3 lg:text-5xl">R</th>
                <th class="text-3xl py-3 px-3 lg:text-5xl">F</th>
                <th class="text-3xl py-3 px-3 lg:text-5xl">Q</th>
                <th class="text-3xl py-3 px-3 lg:text-5xl">H</th>
            </tr>
        </thead>
    </table>

    <div class="flex justify-center mt-6 items-center space-x-3">
      <button class="font-bold px-5 py-1 md:px-10 lg:px-14 lg:py-2 bg-three rounded-md shadow-md hover:bg-orange-200 animate duration-200">A</button>
      <button class="font-bold px-5 py-1 md:px-10 lg:px-14 lg:py-2 bg-three rounded-md shadow-md hover:bg-orange-200 animate duration-200">B</button>
      <button class="font-bold px-5 py-1 md:px-10 lg:px-14 lg:py-2 bg-three rounded-md shadow-md hover:bg-orange-200 animate duration-200">C</button>
      <button class="font-bold px-5 py-1 md:px-10 lg:px-14 lg:py-2 bg-three rounded-md shadow-md hover:bg-orange-200 animate duration-200">D</button>
      <button class="font-bold px-5 py-1 md:px-10 lg:px-14 lg:py-2 bg-three rounded-md shadow-md hover:bg-orange-200 animate duration-200">E</button>
    </div>
    
      </div>
      </div>
      </div>
      
    </div>

    <script>

      // MODAL
       
      // button humberger
        const btn = document.querySelector(".mobile-menu-button");
        const sidebar = document.querySelector(".sidebar");

        btn.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        })

        // dropdown
        function dropDown() {
            document.querySelector('#submenu').classList.toggle('hidden')
            document.querySelector('#arrow').classList.toggle('rotate-0')
        }
        dropDown()
    </script>
</body>
</html>